<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/header-shop.jpg');">
      <div class="filter"></div>
      <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title-sites">WorldGreen Shop</h1>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <app-product-info [product]="productoDetalle"></app-product-info>
    </div>
  </div>  